/* custom fonts*/
@font-face {
    font-family:bebas;
    src: url(/fonts/bebas.ttf);
}
@font-face {
    font-family: orbit;
    src: url(/fonts/orbitron.ttf);
}



* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/* container of the logo and navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/* logo in the header*/
.logo {
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-family: orbit;
}
/* the links in the navigation bar */
nav a {
    color: #5f5f5fc4;
    font-weight: 500;
    font-size: 18px;
    font-family: orbit;
    text-decoration: none;
    margin-left: 55px;
    transition: 1s;
}
/* design for the links */
 nav a:hover,
 nav a.active {
   color: #000000;
  
 }
 /* Section */
 section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
 }
 section:nth-child(odd) {
    background-color: antiquewhite;
 }
 .homepage {
    margin-left: -30%;
    font-family: orbit;
 }
 /* Image in home section*/
 #home {
    background-image: url('/images/white.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 /*fOOTER SECTION*/
 footer {
    text-align: center;
    padding: 40px;
    font-family: orbit;
    font-size: 18px;
 }
 .f-links a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    margin-left: 55px;
 }
 .flinks a:hover{
    color: #b82323;
 }
 .footerh2 {
    font-size: 18px;
    margin-top: 2%;
 }
 
