
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background-color: rgb(44, 190, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
}
nav a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    margin-left: 35px;
    transition: 1s;
}
 nav a:hover {
    color: #000;
 }